@model EmailInputFormModel
<form class="form-horizontal" role="form" asp-controller="Contact" asp-action="ContactHost" method="post">
    <div class="form-group">
        <label asp-for="Name" class="col-sm-2 control-label"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="name" asp-for="Name" placeholder="First & Last Name">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="col-sm-2 control-label">Email</label>
        <div class="col-sm-10">
            <input asp-for="Email" class="form-control" id="email" placeholder="example@domain.com">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Subject" class="col-sm-2 control-label">Subject</label>
        <div class="col-sm-10">
            <input asp-for="Subject" class="form-control" id="email" placeholder="Subject">
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Message" class="col-sm-2 control-label">Message</label>
        <div class="col-sm-10">
            <textarea class="form-control" rows="4" asp-for="Message"></textarea>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <input id="submit" name="submit" type="submit" value="Send" class="btn btn-primary">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
            <h5>@ViewBag.message</h5>
        </div>
    </div>
</form>
