@model IEnumerable<DealerServiceModel>

<div class="row">
    @foreach (var dealer in Model)
    {
    <div class="col-md-4">
        <div class="card mb-3">
            <div class="card-body text-center">
                <h5 class="card-title text-center">Dealer : @dealer.Name</h5>
                <h5 class="card-title text-center">Telephone : @dealer.PhoneNumber</h5>
            </div>
        </div>
    </div>
    }
</div>