@model BecomeDealerFormModel

@{
    ViewBag.Title = "Become Dealer";
}

<div class="row">
    <div class="col-4">
        <h2 class="heading-margin">@ViewBag.Title</h2>

        <form method="post">
            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Town">Town</label>
                <input asp-for="Town" class="form-control">
                <span asp-validation-for="Town" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ImageUrl">Image</label>
                <input asp-for="ImageUrl" class="form-control">
                <span asp-validation-for="ImageUrl" class="small text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber">Phone Number</label>
                <input asp-for="PhoneNumber" class="form-control">
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>

            <input class="btn btn-primary" type="submit" value="Save" />
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
