<div class="container">
    <div class="justify-content-center">
            <h4>There was an error  <span>You can tell us more about the problem just click here => <a asp-controller="Contact" asp-action="ContactHost">Support</a></span></h4>
            <h5>Or you can go back home <span><a asp-controller="Home" asp-action="Index">Home</a></span></h5>
    </div>
</div>
