@*@model IEnumerable<PhoneServiceModel>

@{
    ViewBag.Title = "My Phones";
    ViewBag.AllowPhoneEdit = true;
}

@if (!Model.Any())
{
    <h2 class="text-center">You do not have any phones yet!</h2>
}

<partial name="_PhonesPartial" model="@Model" />*@